<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Site keywords here" />
    <meta name="description" content="" />
    <meta name="copyright" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>Directive Motor Assessors.</title>

    <!-- Favicon -->
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}" />
   
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet"
    />

    {% load static %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<!-- Nice Select CSS -->
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<!-- Icofont CSS -->
<link rel="stylesheet" href="{% static 'css/icofont.css' %}" />
<!-- Slicknav -->
<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" />
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}" />
<!-- Datepicker CSS -->
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<!-- Animate CSS -->
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
<!-- Magnific Popup CSS -->
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />


    <!-- Medipro CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}" />
  </head>
  <body>
    <!-- Header Area -->
    <header class="header">
     
            </div>
          </div>
        </div>
      </div-->
      <!-- End Topbar -->
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <!-- Start Logo -->
                <div class="logo">
                  <a href="index.html"><img src="{% static 'img/logo.png'%}" alt="" /></a>
                </div>
                <!-- End Logo -->
                <!-- Mobile Nav -->
                <div class="mobile-nav"></div>
                <!-- End Mobile Nav -->
              </div>
              <div class="col-lg-7 col-md-9 col-12">
                <!-- Main Menu -->
                <div class="main-menu">
                  <nav class="navigation">
                    <ul class="nav menu">
                      <li class="active"><a href="#">Home </a></li>
                      <li><a href="#">Services </a></li>
                      <li><a href="#">Pages </a></li>
                      <li><a href="#">Blogs </a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                  </nav>
                </div>
                <!--/ End Main Menu -->
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->

    <!-- Slider Area -->
    <section class="slider">
      <div class="hero-slider">
        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('https://res.cloudinary.com/dafyxfbpp/image/upload/v1727097369/slider3_xbflsn.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    We Provide <span>Assessment</span> Services That You Can
                    <span>Trust!</span>
                  </h1>
                  <p>
                    Unlock the true potential of your vehicle with our comprehensive motor evaluation services, 
                    ensuring safety and performance at every turn!
                  </p>
                  <div class="button">
                    <a href="{% url 'login_assessor' %}" class="btn">Assessor Login</a>
                    <a href="#" class="btn primary">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('https://res.cloudinary.com/dafyxfbpp/image/upload/v1727097376/slider_xmfij0.png')">
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    We Provide <span>Assessment</span> Services That You Can
                    <span>Trust!</span>
                  </h1>
                  <p>
                    Drive confidently with our tailored solutions—because every vehicle deserves a 
                    thorough evaluation to ensure top performance.
                  </p>
                  <div class="button">
                    <a href="{% url 'login_assessor' %}" class="btn">Assessor Login</a>
                    <a href="#" class="btn primary">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start End Slider -->

        <!-- Start Single Slider -->
        <div
          class="single-slider"
          style="background-image: url('https://res.cloudinary.com/dafyxfbpp/image/upload/v1727097368/slider2_pih0cy.jpg')"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <div class="text">
                  <h1>
                    We Provide <span>Assessment</span> Services That You Can
                    <span>Trust!</span>
                  </h1>
                  <p>
                    Transform your vehicle ownership experience; 
                    our state-of-the-art evaluation technology provides insights that empower your decisions.
                  </p>
                  <div class="button">
                    <a href="{% url 'login_assessor' %}" class="btn">Assessor Login</a>                    
                    <a href="#" class="btn primary">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Slider -->
      </div>
    </section>
    <!--/ End Slider Area -->

    <!-- Start Schedule Area -->
    <section class="schedule">
      <div class="container">
        <div class="schedule-inner">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <!-- single-schedule -->
              <div class="single-schedule first">
                <div class="inner">
                  <div class="icon">
                    <i class="fa fa-taxi"></i>
                  </div>
                  <div class="single-content">
                    <span>LOCATION</span>
                    <h4>NAIROBI, KENYA</h4>
                    <p>
                      P.o Box 8704-00300 NAIROBI
                      RAHOSO HOUSE KENYA RAILWAYS COMPLEX WORKSHOPS ROAD.
                    </p>
                    <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <!-- single-schedule -->
              <div class="single-schedule middle">
                <div class="inner">
                  <div class="icon">
                    <i class="icofont-prescription"></i>
                  </div>
                  <div class="single-content">
                    <span>Fusce Porttitor</span>
                    <h4>Doctors Timetable</h4>
                    <p>
                      Lorem ipsum sit amet consectetur adipiscing elit. Vivamus
                      et erat in lacus convallis sodales.
                    </p>
                    <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <!-- single-schedule -->
              <div class="single-schedule last">
                <div class="inner">
                  <div class="icon">
                    <i class="icofont-ui-clock"></i>
                  </div>
                  <div class="single-content">
                    <span>Donec luctus</span>
                    <h4>Opening Hours</h4>
                    <ul class="time-sidual">
                      <li class="day">Monday - Friday <span>8.00-20.00</span></li>
                      <li class="day">Saturday <span>9.00-18.30</span></li>
                      <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
                    </ul>
                    <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/End Start schedule Area -->

    <!-- Start Feautes -->
    <section class="Feautes section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>We Are Always Ready to Help You & Your Car!</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-12">
            <!-- Start Single features -->
            <div class="single-features">
              <div class="signle-icon">
                <i class="fa fa-car"></i>
              </div>
              <h3>Customer Confidence</h3>
              <p>
                Built on a foundation of integrity, 
                our service assures you that your vehicle is in the best hands.
              </p>
            </div>
            <!-- End Single features -->
          </div>
          <div class="col-lg-4 col-12">
            <!-- Start Single features -->
            <div class="single-features">
              <div class="signle-icon">
                <i class="fa fa-gear"></i>
              </div>
              <h3>Seamless Blend</h3>
              <p>
                Experience a seamless blend of technology and expertise, 
                ensuring every evaluation is thorough and reliable.
              </p>
            </div>
            <!-- End Single features -->
          </div>
          <div class="col-lg-4 col-12">
            <!-- Start Single features -->
            <div class="single-features last">
              <div class="signle-icon">
                <i class="fa fa-gears"></i>
              </div>
              <h3>Valuation Expertise</h3>
              <p>
                Harness our valuation expertise to ensure accurate 
                assessments that reflect true market value.
              </p>
            </div>
            <!-- End Single features -->
          </div>
        </div>
      </div>
    </section>
    <!--/ End Feautes -->


    <!-- Start service -->
    <section class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>We Offer Different Services To Ease Your Work Load</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-taxi"></i>
              <h4><a href="service-details.html">Motor Evaluation</a></h4>
              <p>
                We provide a full assessment of vehicle health, 
                ensuring your vehicle is safe, reliable, and meets all necessary regulatory requirements.
                
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-wrench"></i>
              <h4><a href="service-details.html">Accident Assessment</a></h4>
              <p>
                Our team specializes in evaluating the extent of the damage to your vehicle and advising on the next steps.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-search"></i>
              <h4>
                <a href="service-details.html">Investigative Assessment</a>
              </h4>
              <p>
               We help uncover underlying issues with the vehicle, 
                offering insights for insurance claims, legal processes, or vehicle restoration.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-binoculars"></i>
              <h4><a href="service-details.html">Motor Inspection</a></h4>
              <p>
                Routine inspections. 
                Our inspection services identify any wear and tear or potential safety risks, giving you peace of mind.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-fire"></i>
              <h4>
                <a href="service-details.html">Road Accident Consultaion</a>
              </h4>
              <p>
                We tation services to help you navigate the aftermath of a road accident,
                 from damage assessments to liaising with insurance companies and providing legal advice.
              </p>
            </div>
            <!-- End Single Service -->
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Single Service -->
            <div class="single-service">
              <i class="fa fa-envelope"></i>
              <h4><a href="service-details.html">Estimate Preparation</a></h4>
              <p>
                We provide detailed cost estimates for repairs and restorations, 
                helping you budget accurately and avoid unexpected expenses.

              </p>
            </div>
            <!-- End Single Service -->
          </div>
        </div>
      </div>
    </section>
    <!--/ End service -->


    <!-- Start Call to action -->
    <section class="call-action overlay" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="content">
              <h2>Do you need Outstanding Motor Evaluation? Call @ 0721572715 /  0724334096</h2>
              <p>
                Elevate your vehicle's standards with our detailed assessments
              </p>
              <div class="button">
                <a href="#" class="btn">Contact Now</a>
                <a href="mailto:directiveassessors@yahoo.com" class="btn second">info@directiveassessors.co.ke<i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ End Call to action -->

    <!-- Footer Area -->
    <footer id="footer" class="footer">
      
      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="copyright-content">
                <p>
                  © Copyright 2024 | All Rights Reserved by
                  <a href="" target="_blank">directiveassessors</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->

    <!-- jquery Min JS -->{% load static %}

<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Migrate JS -->
<script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
<!-- jQuery UI JS -->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- Easing JS -->
<script src="{% static 'js/easing.js' %}"></script>
<!-- Color JS -->
<script src="{% static 'js/colors.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap Datepicker JS -->
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<!-- jQuery Nav JS -->
<script src="{% static 'js/jquery.nav.js' %}"></script>
<!-- Slicknav JS -->
<script src="{% static 'js/slicknav.min.js' %}"></script>
<!-- ScrollUp JS -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<!-- Niceselect JS -->
<script src="{% static 'js/niceselect.js' %}"></script>
<!-- Tilt jQuery JS -->
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<!-- Owl Carousel JS -->
<script src="{% static 'js/owl-carousel.js' %}"></script>
<!-- Counterup JS -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Steller JS -->
<script src="{% static 'js/steller.js' %}"></script>
<!-- Wow JS -->
<script src="{% static 'js/wow.min.js' %}"></script>
<!-- Magnific Popup JS -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- Counter Up CDN JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
